# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [8]:
first_ten = tuple(range(1,11))
print(first_ten)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [9]:
first = first_ten[0]
middle = first_ten[len(first_ten) // 2]
last = first_ten[-1]

print(f"First element: {first}")
print(f"Middle element: {middle}")
print(f"Last element: {last}")

First element: 1
Middle element: 6
Last element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [10]:
first_three = first_ten[:3]
last_three = first_ten[7:]
from_two_to_five = first_ten[2:6]

print(f"First Three: {first_three}")
print(f"Last Three: {last_three}")
print(f"From 2 to 5: {from_two_to_five}")

First Three: (1, 2, 3)
Last Three: (8, 9, 10)
From 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [12]:
matrix_tuple = ((1,2,3),
                (4,5,6),
                (7,8,9))
for row in matrix_tuple:
    print(row)
    
print(f"Element at the second row and third column: {matrix_tuple[1][2]}")

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at the second row and third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [13]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

concatenate = tuple1 + tuple2

print(f"Concatenated Tuple: {concatenate}")

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [14]:
tup = (1,2,3,3,3,4,4,4)

print(f"Count of occurence of 3: {tup.count(3)}")
print(f"First occurence of 3: {tup.index(3)}")

Count of occurence of 3: 3
First occurence of 3: 2

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
tup = (1,2,3)

a,b,c = tup
print(a,b,c)

1 2 3

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [17]:
lst = [1,2,3]

tpl = tuple(lst)

print(tpl)

(1, 2, 3)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [19]:
tpl_of_three = ((1,2,3),
                (4,5,6),
                (7,8,9))

print(tpl_of_three)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [2]:
tpl = tuple(range(1,6))

lst = list(tpl)

lst.append(6)

tpl = tuple(lst)

print(f"Tuple after appending 6 into it: {tpl}")

Tuple after appending 6 into it: (1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [3]:
tpl = ('h','e','l','l','o')

joined_tpl = ''.join(tpl)

print(f"Tuple after joining: {joined_tpl}")

Tuple after joining: hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [5]:
my_dict = {(1,2) : 3,
        (4,5) : 6,
        (7,8) : 9}
print(my_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [1]:
nested_tuple = ((1,2,3),
                (4,5,6))

for row in nested_tuple:
    for element in row:
        print(element)

1
2
3
4
5
6

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [2]:
tpl = (1,2,2,3,3,3,3,4,4,4)

to_set = set(tpl)
print(to_set)

{1, 2, 3, 4}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [3]:
def max_in_tpl(tpl):
    return max(tpl)

def min_in_tpl(tpl):
    return min(tpl)

def sum_of_tpl(tpl):
    return sum(tpl)

tpl = (1,2,6,4,8,0)

maximum = max_in_tpl(tpl)
minimum = min_in_tpl(tpl)
summing = sum_of_tpl(tpl)

print(f"Maximum in tuple: {maximum}")
print(f"Minimum in tuple: {minimum}")
print(f"Sum of tuple elements: {summing}")

Maximum in tuple: 8
Minimum in tuple: 0
Sum of tuple elements: 21